# 编译输出文件
/target/
/out/

# Maven 本地构建输出
!.mvn/wrapper/maven-wrapper.jar
**/mvn/wrapper/maven-wrapper.jar

# Gradle 文件
.gradle/
/build/
/!gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA

**/.run/
**/target/
**/*.iml
**/*.txt
**/node_modules/
**/package-lock.json

# VS Code
.vscode/

# 操作系统生成的文件
.DS_Store
Thumbs.db
desktop.ini

# 日志文件
*.log

# 临时文件
*.class
*.war
*.ear
*.jar
*.swp
*~

# 配置文件
*.properties
*.env
*.bat

# 项目测试结果
/test-output/
